:host {
  display: block;
}

.cookie-banner {
  background-color: inherit;
  bottom: 0;
  display: inline-block;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  width: 100vw;
}

.cookie-text {
  font-size: 1rem;
  margin: 1.2em;
  overflow-wrap: normal;
}

.cookie-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}

/*

padding: 8px 10px;
    background-color: #f1d600;
    cursor: pointer;
    transition: font-size 200ms;
    text-align: center;
    font-size: 0.6em;
    display: block;
    width: 33%;
    margin-left: 10px;
    float: right;
    max-width: 120px;

.cc_container {
  animation-duration: 0.8s;
  animation-name: slideUp;
  background: #fff;
  border: 2px solid #ccc;
  bottom: 0;
  color: #999;
  font-size: 1rem;
  height: 50px;
  left: 0;
  padding-bottom: 50px;
  right: 0;
  z-index: auto;
}

.cc_btn {
  background-color: #f1d600;
  color: #000;
}
*/
/*
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.cookie {
  background-color: whitesmoke;
  border-radius: 5px;
  bottom: 0;
  height: 50px;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  opacity: 0.6;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 96%;
  z-index: auto;
}

.cookie-left {
  width: 100%;
}

.cookie-text {
  color: black;
  font-size: 2em;
  opacity: 0.8;
  text-align: center;

}
*/
/*
.button {
  color: black;
  text-align: right;
}

.wpcc-border-thin {
  border-width: 1px;
}

.wpcc-bottom {
  bottom: 1em;
}

.wpcc-color-custom--943834009.wpcc-container {
  background-color: rgb(246, 246, 246);
  border-color: rgb(85, 85, 85);
  color: rgb(0, 0, 0);
}

.wpcc-container {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5em;
  overflow: hidden;
  position: fixed;
  transition: opacity 1s ease;
  transition: opacity 1s ease;
  transition: opacity 1s ease;
  transition: opacity 1s ease;
  transition: opacity 1s ease;
  z-index: 9999;
}

.wpcc-container {
  opacity: 1;
}

.wpcc-corners-round {
  border-radius: 5px;
}

.wpcc-corners-small {
  border-radius: 5px;
}

.wpcc-message {
  display: block;
  flex: 1 1 auto;
  margin-right: 1em;
  max-width: 100%;
}

.wpcc-privacy {
  display: inline-block;
  opacity: 0.85;
  text-decoration: underline;
}

.wpcc-btn {
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  padding: 0.4em 0.8em;
  text-align: center;
  transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  white-space: nowrap;
}*/






