<div class="container">
  <app-renderer [text]="text$ | async"></app-renderer>
  <div class="calendar" *ngIf="events$ | async as events">
    <mat-card class="calendar-card" *ngFor="let event of events">
      <mat-card-header>
        <mat-card-title>{{ event.name }}</mat-card-title>
        <mat-card-subtitle>{{ formatEventDate(event) }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
</div>
<button *ngIf="canEdit() | async" (click)="edit()" mat-fab class="edit-btn"><mat-icon>edit</mat-icon></button>
