@use '~@angular/material' as mat;
@use 'src/theme' as theme;

@mixin homepage-theme($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $background: map-get($config, background);
  $foreground: map-get($config, foreground);
  $is-dark: map-get($config, is_dark);

  app-homepage {
    .container {
      background-color: map-get($background, background);
    }

    .event {
      color: mat.get-color-from-palette($primary);
    }
  }
}

@include homepage-theme(theme.$light-theme);

@media (prefers-color-scheme: dark) {
  @include homepage-theme(theme.$dark-theme);
}



.title-rule {
  border-style: none;
  border-top: solid 4px;
  height: 0;
  width: 70%;
}

h1.title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1em;
  padding-top: 2rem;
  text-align: center;
}

.title-image {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 2rem;

  img {
    height: 20rem;
    object-fit: cover;
    object-position: top;
    width: 100%;
  }
}
