@import 'src/theme';

@mixin calendar-theme($config-or-theme) {
  $config: mat-get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $background: map-get($config, background);
  $foreground: map-get($config, foreground);
  $is-dark: map-get($config, is_dark);

  app-calendar {
    .container {
      background-color: map-get($background, background);
    }
  }
}

@include calendar-theme($light-theme);

@media (prefers-color-scheme: dark) {
  @include calendar-theme($dark-theme);
}
