.container {
  display: flex;
  height: 100%;
  justify-content: center;
}

table {
  width: 70%;

  .mat-header-cell {
    font-size: 1.3rem;
    line-height: 1.5rem;
  }

  .mat-cell {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}
