<div class="content">
  <table id="list">
    <tbody>
      <tr>
        <td><button (click)="showGallery(1)" style="border:none">Gallery01</button></td>
      </tr>
      <tr>
        <td><button (click)="showGallery(2)">Gallery02</button></td>
      </tr>
      <tr>
        <td><button (click)="showGallery(3)">Gallery03</button></td>
      </tr>
    </tbody>
  </table>
</div>

<gallery class="gallery" id="gallery01" [items]="images" thumbPosition="left"></gallery>
<gallery class="gallery" id="gallery02" [items]="images" thumbPosition="top"></gallery>
<gallery class="gallery" id="gallery03" [items]="images" thumbPosition="right"></gallery>



<button id="zurueck" (click)="hideGallery()">Zurück</button>
