@use '~@angular/material' as mat;
@use 'src/theme' as theme;

@mixin gallery-theme($config-or-theme) {
  $config: mat.get-color-config($config-or-theme);
  $primary: map-get($config, primary);
  $accent: map-get($config, accent);
  $background: map-get($config, background);
  $foreground: map-get($config, foreground);
  $is-dark: map-get($config, is_dark);

  app-gallery {
    .container {
      background-color: map-get($background, background);
    }

    table {
      //-webkit-box-shadow: 0 0 0.2rem mat.get-contrast-color-from-palette(mat.$grey-palette, 500);
      box-shadow: 0 0 0.2rem mat.get-contrast-color-from-palette(mat.$grey-palette, 500);
    }

    .mat-header-cell {
      background-color: mat.get-color-from-palette($primary, 700);
      color: mat.get-contrast-color-from-palette($primary, 700);
    }

    .mat-row {
      background-color: darken(map-get($background, background), 3%);

      &:nth-of-type(odd) {
        background-color: darken(map-get($background, background), 5%);
      }

      &:hover {
        //-webkit-box-shadow: 0 0 0.2rem mat.get-contrast-color-from-palette(mat.$grey-palette, 200);
        box-shadow: 0 0 0.2rem mat.get-contrast-color-from-palette(mat.$grey-palette, 200);
      }
    }
  }


}

@include gallery-theme(theme.$light-theme);

@media (prefers-color-scheme: dark) {
  @include gallery-theme(theme.$dark-theme);
}
