<main class="container">
  <div class="editor-container" [class.fullscreen]="fullscreen" #editor_container>
    <div class="toolbar">
      <div *ngFor="let group of toolbar; index as i" class="group">
        <hr class="divider" *ngIf="i > 0"/>
        <ng-container *ngFor="let action of group">
          <mat-form-field *ngIf="action.type === 'select'" appearance="outline">
            <mat-select [attr.title]="action.title"
                        [attr.aria-label]="action.title"
                        class="toolbar-action"
                        [value]="headingValue"
                        (valueChange)="executeAction(action.action, $event)">
              <mat-option *ngFor="let option of action.options; index as value" [value]="value">{{option}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button *ngIf="action.type === 'button'"
                  (click)="executeAction(action.action)"
                  [attr.title]="action.title"
                  [attr.aria-label]="action.title"
                  class="toolbar-action"
                  type="button"
                  [id]="action.action"
                  mat-icon-button>
            <mat-icon>{{action.icon}}</mat-icon>
          </button>
        </ng-container>
      </div>
      <div class="spacer"></div>
      <div class="group">
        <mat-slide-toggle
          [(ngModel)]="scrollSync"
          title="Sync Scrollbar"
          aria-label="Sync Scrollbar"
          color="primary"
          [style.display]="viewMode === 1 ? '' : 'none'"
        ></mat-slide-toggle>
        <mat-button-toggle-group name="viewMode" aria-label="View Mode" appearance="standard" [(value)]="viewMode">
          <mat-button-toggle [value]="0" title="Editor Only">
            <mat-icon>subject</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="1" title="Side by Side">
            <mat-icon>vertical_split</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle [value]="2" title="Preview Only">
            <mat-icon>image</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <button (click)="fullscreen = !fullscreen"
                [attr.title]="fullscreen ? 'Exit fullscreen' : 'Open fullscreen'"
                [attr.aria-label]="fullscreen ? 'Exit fullscreen' : 'Open fullscreen'"
                class="fullscreen-btn"
                mat-icon-button>
          <mat-icon>{{ fullscreen ? 'fullscreen_exit' : 'fullscreen' }}</mat-icon>
        </button>
      </div>
    </div>
    <div class="inner-container">
      <ngx-codemirror
        [style.width.%]="viewMode > 0 ? 50 : 100"
        [style.border-right]="viewMode > 0 ? 'solid' : 'none'"
        [style.display]="viewMode === 2 ? 'none' : ''"
        [(ngModel)]="content"
        (drop)="onFileDropped($event)"
        (cursorActivity)="onCursorMoved($event)"
        (scroll)="onEditorScrolled($event)"
        [options]="editorOptions"
        #editor
      ></ngx-codemirror>
      <app-renderer
        [style.width.%]="viewMode < 2 ? 50 : 100"
        [text]="content"
        [style.display]="viewMode > 0 ? '' : 'none'"
        (scroll)="onPreviewScrolled($event)"
        #preview
      ></app-renderer>
    </div>
  </div>
  <div class="spinner-container" *ngIf="saving$ | async">
    <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
  </div>
  <button mat-fab class="save-btn" (click)="save()"><mat-icon>save</mat-icon></button>
</main>
